<div class="col grid" data-album-id="{{id}}">
  <h3> {{title}}</h3>
  <p> {{comments}}</p>
  <button type="button" class="btn btn-default btn-sm viewAlbumBtn">View Album</button>
  <button type="button" class="btn btn-default btn-sm editAlbumBtn">Edit Album</button>
  <button type="button" class="btn btn-default btn-sm addPhotoInputBtn">Add Link</button>
  <button type="button" class="btn btn-danger btn-sm deleteAlbumBtn">Delete Album</button>
  <div class="photoUrls well-sm"></div>
</div>
