<div class="col col-md-3 grid" data-album-id="{{id}}">
  <h3> {{title}}</h3> <color: black>
  <p> {{comments}}</p>
  <button type="button" class="btn btn-default viewAlbumBtn">View Album</button>
  <button type="button" class="btn btn-default editAlbumBtn">Edit Album</button>
  <button type="button" class="btn btn-default addPhotoInputBtn">Add Photo</button>
  <button type="button" class="btn btn-danger deleteAlbumBtn">Delete Album</button>
  <div class="photoUrls well"></div>
</div>
