<form class="addPhotoForm">
  <div class="form-group">
    <label>Photo Title</label>
    <input type="text"  class="form-control" name="photo[title]" value="{{title}}" />
  </div>
  <div class="form-group">
    <label>Photo URL</label>
    <input type="text"  class="form-control" name="photo[url]" value="{{url}}" />
  </div>
  <input type="submit" class="btn addPhotoBtn btn-sm" value="Add Photo" />
</form>
