$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: grey;
}

.jumbotron {
  padding-top: 10%;
  padding-bottom: 20%;
  background: url('./images/dog.jpg') no-repeat center center fixed;
background-size: cover;
  height: 500px;
  color: white;
}

.grid {
  margin-top: 5px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
