$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: grey;
}

#content,
#needsSignInSuccess {
  display: none;
}

. addPhotoForm,
#editAlbumModal,
#createAlbumModal {
  color: black;
  }

.jumbotron {
  background: url('./images/dog.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 500px;
  padding-bottom: 20%;
  padding-top: 10%;
}

.grid {
  border: 1px solid black;
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
}
