$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: grey;
}

#content,
#needsSignInSuccess {
  display: none;
}

.addPhotoForm,
#editAlbumModal,
#createAlbumModal {
  color: black;
  }

.jumbotron {
  background: url('./images/dog.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 700px;
  padding-bottom: 20%;
  padding-top: 10%;
}

.navbar-brand {
  padding-top: 20%;
  font-size: 80px;
  font-weight: 30px;
  color: white;
}


.createAlbumBtn {
    position: static;
    border: 3px solid #73AD21;
}

.grid {
  border: 1px solid #000;
  margin: 5px;
  padding-left: 40%;
  margin-top: 5px;
  padding: 10px;
}

li {
}

a {
  color: #FFF;
  font-size: 18px;
}

a:hover {
  color: green;
}
