$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#-signup-button {
  color: white;
  font-size: 16px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #1D0D27;
}

#content,
.needsSignInSuccess
 {
  display: none;
}

.addPhotoForm,
#editAlbumModal,
#createAlbumModal {
  color: black;
  }

.jumbotron {
  background: url('./images/cool.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-variant-caps: small-caps;
  height: 800px;
  padding-bottom: 20%;
  padding-top: 10%;
}

.createAlbumBtn {
  border: 3px solid #73AD21;
  position: static;
}

.grid {
  background-color: #FAFAFA;
  border: 1px solid #000;
  border-radius: 10px;
  color: grey;
  margin: 5px;
  margin-top: 5px;
  padding: 10px;
  padding-left: 40%;
  padding-right: 100px;
}

a {
  color: black;
  font-size: 18px;
}
